.banner {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
    margin: 0;
    height: 223px;
}

.imgBanner{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
    display: flex;
    object-fit: cover;
    filter: brightness(70%);
}

.texte h1 {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    width: 100%;
    max-width: 100%;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    height: 68px;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px;
}

@media (max-width: 1024px) {
    .texte h1{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 375px) {
    .Banner{
        height: 111px;
    }


}